<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/websitelogo.webp" alt="" />
  </div>
  <div class="headings">
    <h2>Personalized Recipes</h2>
    <h3>By MBY</h3>
    <a href="/recipes" class="btn">View Recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%>
